/* Faz o body ocupar 100% da tela */
html,
body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #f8f7f6;
}

/* Faz o main ocupar todo o espaço disponível entre o header e o footer */
main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    height: 100%;
    /* Garante que o main ocupe toda a altura disponível */
}

/* Estilização do Header */
header {
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    padding: 20px;
    z-index: 1000;
    margin-bottom: 30px;
}

/* Footer no final da página */
footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #000000;
    color: rgb(212, 164, 164);
    text-align: center;
    box-shadow: 0px -4px 10px rgba(33, 56, 148, 0.3);
    margin-top: 40px;
    height: fit-content;
}

.text-start {
    color: red;
}

.email {
    color: orange;
}

@media (max-width: 576px) {
    .btn-primary {
        margin-top: 20px;
        /* Adiciona um pequeno espaço acima do botão em telas pequenas */
    }

    .btn-secondary {
        margin-top: 20px;
        /* Adiciona um pequeno espaço acima do botão em telas pequenas */
    }

    h1 {
        margin-bottom: 20px;
    }

    main {
        margin-top: 20px;
        margin-bottom: 60px;
    }
}

.sinistro-details {
    display: flex;
    gap: 10px;
}

.sinistro-details div {
    flex: 1;
}

#sinistroData {
    color: red !important;
}

#sinistroData::placeholder {
    color: red !important;
}