/* Faz o body ocupar 100% da tela */
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background-color: #0e0e10;
}

/* Faz o conteúdo crescer */
main {
    background-color: #0e0e10;
    color: white;
}

/* Ajusta a imagem */
.image-container {
    max-width: 50%;
    height: auto;
}

/* Responsividade do .email-container */
.email-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 8%;
}

.email-container div {
    max-width: 80%;
}

.email-container p {
    color: orange;
}

/* Botão azul */
.btn-blue {
    background-color: rgb(70, 70, 240);
    color: white;
    font-weight: bold;
    display: inline-block;
}

/* Ajuste do título principal */
.mainTitle {
    margin-top: 5%;
    margin-bottom: 10%;
}

/* Ajuste do footer */
footer {
    width: 100%;
    background-color: #272525;
    color: white;
    text-align: center;
    padding: 10px 0;
}

#btn-consulta {
    margin-bottom: 40px;
}

/* Ajustes para telas maiores */
@media (min-width: 768px) {
    .email-container {
        flex-direction: row;
        justify-content: center;
    }

    .email-container div {
        max-width: 30%;
    }
}
